venv
venv2
venv3
.env
.pdf
.DS_store
__pycache__/
datasets
logs
.ipynb_checkpoints
.ipynb_checkpoints/*
# Ignore everything in the results directory
results/*
docs/card_template.md

# But don't ignore evaluation_results.json
!results/evaluation_results.json
!results/text_outputs/
!results/text_outputs/*
!results/graphs.ipynb

scripts/*
!scripts/preprocessing.sh
!scripts/nltk.py

wandb

slurm_outputs
artifacts
#TODO: Add card_template so other people can't use it
.venv

nohup.out